In [21]:
import yfinance as yf
import pandas as pd

In [22]:
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

In [25]:
df = table[0]
print(df)

    Symbol       Security SEC filings             GICS Sector  \
0      MMM             3M     reports             Industrials
1      AOS    A. O. Smith     reports             Industrials
2      ABT         Abbott     reports             Health Care
3     ABBV         AbbVie     reports             Health Care
4     ABMD        Abiomed     reports             Health Care
..     ...            ...         ...                     ...
499    YUM    Yum! Brands     reports  Consumer Discretionary
500   ZBRA          Zebra     reports  Information Technology
501    ZBH  Zimmer Biomet     reports             Health Care
502   ZION  Zions Bancorp     reports              Financials
503    ZTS         Zoetis     reports             Health Care

                      GICS Sub-Industry    Headquarters Location  \
0              Industrial Conglomerates    Saint Paul, Minnesota
1                     Building Products     Milwaukee, Wisconsin
2                 Health Care Equipment  North Chicago, Illinois
3                       Pharmaceuticals  North Chicago, Illinois
4                 Health Care Equipment   Danvers, Massachusetts
..                                  ...                      ...
499                         Restaurants     Louisville, Kentucky
500  Electronic Equipment & Instruments   Lincolnshire, Illinois
501               Health Care Equipment          Warsaw, Indiana
502                      Regional Banks     Salt Lake City, Utah
503                     Pharmaceuticals   Parsippany, New Jersey

    Date first added      CIK      Founded
0         1976-08-09    66740         1902
1         2017-07-26    91142         1916
2         1964-03-31     1800         1888
3         2012-12-31  1551152  2013 (1888)
4         2018-05-31   815094         1981
..               ...      ...          ...
499       1997-10-06  1041061         1997
500       2019-12-23   877212         1969
501       2001-08-07  1136869         1927
502       2001-06-22   109380         1873
503       2013-06-21  1555280         1952

[504 rows x 9 columns]

In [26]:
df.to_csv('S&P500-Info.csv')
df.to_csv("S&P500-Symbols.csv", columns=['Symbol'])

In [7]:
msft = yf.Ticker("MSFT")

In [8]:
# get stock info --- data as dictionary
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 181000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'ebitdaMargins': 0.49327,
 'profitMargins': 0.37627998,
 'grossMargins': 0.6873,
 'operatingCashflow': 87115997184,
 'revenueGrowth': 0.184,
 'operatingMargins': 0.42556,
 'ebitda': 94982995968,
 'targetLowPrice': 298.18,
 'recommendationKey': 'buy',
 'grossProfits': 115856000000,
 'freeCashflow': 48917000192,
 'targetMedianPrice': 360,
 'currentPrice': 261.5,
 'earningsGrowth': 0.094,
 'currentRatio': 1.988,
 'returnOnAssets': 0.15674,
 'numberOfAnalystOpinions': 46,
 'targetMeanPrice': 362.95,
 'debtToEquity': 47.863,
 'returnOnEquity': 0.48721,
 'targetHighPrice': 425.96,
 'totalCash': 104660000768,
 'totalDebt': 77980999680,
 'totalRevenue': 192557006848,
 'totalCashPerShare': 13.994,
 'financialCurrency': 'USD',
 'revenuePerShare': 25.642,
 'quickRatio': 1.773,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.64,
 'beta3Year': None,
 'enterpriseToEbitda': 21.571,
 '52WeekChange': 0.06501341,
 'morningStarRiskRating': None,
 'forwardEps': 10.78,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7479029760,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 21.773,
 'sharesShort': 41237238,
 'sharesPercentSharesOut': 0.0055,
 'fundFamily': None,
 'lastFiscalYearEnd': 1625011200,
 'heldPercentInstitutions': 0.72099,
 'netIncomeToCommon': 72456003584,
 'trailingEps': 9.58,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': -0.033483148,
 'priceToBook': 12.010287,
 'heldPercentInsiders': 0.00074,
 'nextFiscalYearEnd': 1688083200,
 'yield': None,
 'mostRecentQuarter': 1648684800,
 'shortRatio': 1.32,
 'sharesShortPreviousMonthDate': 1648684800,
 'floatShares': 7472077634,
 'beta': 0.908333,
 'enterpriseValue': 2048902299648,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1644969600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.082,
 'priceToSalesTrailing12Months': 10.156817,
 'dateShortInterest': 1651190400,
 'pegRatio': 1.69,
 'ytdReturn': None,
 'forwardPE': 24.257885,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0055,
 'sharesShortPriorMonth': 36814442,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 261.12,
 'regularMarketOpen': 259.955,
 'twoHundredDayAverage': 304.46094,
 'trailingAnnualDividendYield': 0.00926777,
 'payoutRatio': 0.2463,
 'volume24Hr': None,
 'regularMarketDayHigh': 265.82,
 'navPrice': None,
 'averageDailyVolume10Day': 39770320,
 'regularMarketPreviousClose': 261.12,
 'fiftyDayAverage': 288.136,
 'trailingAnnualDividendRate': 2.42,
 'open': 259.955,
 'toCurrency': None,
 'averageVolume10days': 39770320,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1652832000,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 255.78,
 'currency': 'USD',
 'trailingPE': 27.296452,
 'regularMarketVolume': 32550933,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1955766337536,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 33829478,
 'dayLow': 255.78,
 'ask': 261.48,
 'askSize': 800,
 'volume': 32550933,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.3,
 'fiftyTwoWeekLow': 238.6,
 'bid': 261.28,
 'tradeable': False,
 'dividendYield': 0.0095,
 'bidSize': 900,
 'dayHigh': 265.82,
 'regularMarketPrice': 261.5,
 'preMarketPrice': 260,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 1.7916}

In [10]:
# get historical market data
hist = msft.history(period="max")
print(hist)

                  Open        High         Low       Close      Volume  \
Date
1986-03-13    0.055783    0.063987    0.055783    0.061252  1031788800
1986-03-14    0.061252    0.064533    0.061252    0.063439   308160000
1986-03-17    0.063439    0.065080    0.063439    0.064533   133171200
1986-03-18    0.064533    0.065080    0.062345    0.062892    67766400
1986-03-19    0.062892    0.063439    0.061252    0.061799    47894400
...                ...         ...         ...         ...         ...
2022-05-10  271.690002  273.750000  265.070007  269.500000    39336400
2022-05-11  265.679993  271.359985  259.299988  260.549988    48975900
2022-05-12  257.690002  259.880005  250.020004  255.350006    51033800
2022-05-13  257.350006  263.040009  255.350006  261.119995    34893400
2022-05-16  259.954987  265.820007  255.779999  261.500000    32550933

            Dividends  Stock Splits
Date
1986-03-13        0.0           0.0
1986-03-14        0.0           0.0
1986-03-17        0.0           0.0
1986-03-18        0.0           0.0
1986-03-19        0.0           0.0
...               ...           ...
2022-05-10        0.0           0.0
2022-05-11        0.0           0.0
2022-05-12        0.0           0.0
2022-05-13        0.0           0.0
2022-05-16        0.0           0.0

[9119 rows x 7 columns]

In [11]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2021-02-17       0.56           0.0
2021-05-19       0.56           0.0
2021-08-18       0.56           0.0
2021-11-17       0.62           0.0
2022-02-16       0.62           0.0

[82 rows x 2 columns]

In [12]:
# show dividends
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2021-02-17    0.56
2021-05-19    0.56
2021-08-18    0.56
2021-11-17    0.62
2022-02-16    0.62
Name: Dividends, Length: 73, dtype: float64

In [13]:
# show splits
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [14]:
# show financials
msft.financials
msft.quarterly_financials

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Research Development,6306000000.0,5758000000.0,5599000000.0,5687000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,20190000000.0,22515000000.0,20524000000.0,19405000000.0
Minority Interest,None,None,None,None
Net Income,16728000000.0,18765000000.0,20505000000.0,16458000000.0
Selling General Administrative,7075000000.0,6763000000.0,5834000000.0,7379000000.0
Gross Profit,33745000000.0,34768000000.0,31671000000.0,32161000000.0
Ebit,20364000000.0,22247000000.0,20238000000.0,19095000000.0
Operating Income,20364000000.0,22247000000.0,20238000000.0,19095000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-499000000.0,-521000000.0,-535000000.0,-549000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,3462000000.0,3750000000.0,19000000.0,2947000000.0
Total Revenue,49360000000.0,51728000000.0,45317000000.0,46152000000.0
Total Operating Expenses,28996000000.0,29481000000.0,25079000000.0,27057000000.0
Cost Of Revenue,15615000000.0,16960000000.0,13646000000.0,13991000000.0
Total Other Income Expense Net,-174000000.0,268000000.0,286000000.0,310000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,16728000000.0,18765000000.0,20505000000.0,16458000000.0
Net Income Applicable To Common Shares,16728000000.0,18765000000.0,20505000000.0,16458000000.0

In [15]:
# show major holders
msft.major_holders

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  72.10%       % of Shares Held by Institutions
2  72.15%        % of Float Held by Institutions
3    5909  Number of Institutions Holding Shares

In [16]:
# show institutional holders
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",621598157,2022-03-30,0.0831,191644927784
1,Blackrock Inc.,523749870,2022-03-30,0.0700,161477322419
2,State Street Corporation,302541869,2021-12-30,0.0405,101750881382
3,"FMR, LLC",210344695,2022-03-30,0.0281,64851372915
4,Price (T.Rowe) Associates Inc,204196901,2021-12-30,0.0273,68675501744
5,"Geode Capital Management, LLC",133424701,2022-03-30,0.0178,41136169565
6,Capital World Investors,107717797,2021-12-30,0.0144,36227649487
7,Capital Research Global Investors,92868182,2021-12-30,0.0124,31233426970
8,Capital International Investors,90985531,2021-12-30,0.0122,30600253785
9,Northern Trust Corporation,88410999,2021-12-30,0.0118,29734387183

In [17]:
# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Intangible Assets,1.134800e+10,7.462000e+09,7.794000e+09,7.800000e+09
Total Liab,1.816830e+11,1.803790e+11,1.834400e+11,1.917910e+11
Total Stockholder Equity,1.629240e+11,1.600100e+11,1.519780e+11,1.419880e+11
Other Current Liab,4.739100e+10,4.634600e+10,5.262200e+10,5.261200e+10
Total Assets,3.446070e+11,3.403890e+11,3.354180e+11,3.337790e+11
Common Stock,8.576700e+10,8.452800e+10,8.375100e+10,8.311100e+10
Other Current Assets,1.335300e+10,1.230100e+10,1.298200e+10,1.347100e+10
Retained Earnings,7.963300e+10,7.504500e+10,6.694400e+10,5.705500e+10
Other Liab,3.115900e+10,3.058400e+10,3.015700e+10,3.168100e+10
Good Will,6.737100e+10,5.092100e+10,5.045500e+10,4.971100e+10
Treasury Stock,-2.476000e+09,4.370000e+08,1.283000e+09,1.822000e+09
Other Assets,2.184500e+10,2.125600e+10,2.110300e+10,1.507500e+10
Cash,1.249800e+10,2.060400e+10,1.916500e+10,1.422400e+10
Total Current Liabilities,7.743900e+10,7.751000e+10,8.052800e+10,8.865700e+10
Short Long Term Debt,1.749000e+09,4.998000e+09,3.249000e+09,8.072000e+09
Other Stockholder Equity,-2.476000e+09,4.370000e+08,1.283000e+09,1.822000e+09
Property Plant Equipment,8.321400e+10,7.956800e+10,7.534700e+10,7.080300e+10
Total Current Assets,1.539220e+11,1.741880e+11,1.743260e+11,1.844060e+11
Long Term Investments,6.907000e+09,6.994000e+09,6.393000e+09,5.984000e+09
Net Tangible Assets,8.420500e+10,1.016270e+11,9.372900e+10,8.447700e+10
Short Term Investments,9.216200e+10,1.047440e+11,1.114190e+11,1.160320e+11
Net Receivables,3.261300e+10,3.352000e+10,2.734900e+10,3.804300e+10
Long Term Debt,4.817700e+10,4.826000e+10,5.003900e+10,5.007400e+10
Inventory,3.296000e+09,3.019000e+09,3.411000e+09,2.636000e+09
Accounts Payable,1.608500e+10,1.531400e+10,1.483200e+10,1.516300e+10
Deferred Long Term Asset Charges,NaN,NaN,NaN,7.181000e+09

In [18]:
df = yf.download("AAPL",
                 start="2022-01-01",
                 end="2022-05-11")

[*********************100%***********************]  1 of 1 completed

In [19]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [20]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,89.000000,89.000000,89.000000,89.000000,89.000000,8.900000e+01
mean,167.102022,169.277978,164.814382,167.040899,166.747507,9.458653e+07
std,7.024973,6.573187,7.315558,7.100409,7.048047,2.125804e+07
min,150.899994,154.119995,150.100006,150.619995,150.399017,6.117740e+07
25%,162.250000,164.479996,158.929993,161.789993,161.552628,7.972480e+07
50%,167.990005,169.679993,165.550003,167.229996,166.984650,9.086590e+07
75%,172.320007,174.139999,170.949997,172.550003,172.296860,1.030493e+08
max,182.630005,182.940002,179.119995,182.009995,181.511703,1.799357e+08