In [1]:
import yfinance as yf

In [4]:
aapl = yf.Ticker("AAPL")

In [5]:
# get stock info --- data as dictionary
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 154000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408 996 1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.33842,
 'profitMargins': 0.26407,
 'grossMargins': 0.43322,
 'operatingCashflow': 116425998336,
 'revenueGrowth': 0.086,
 'operatingMargins': 0.30926,
 'ebitda': 130633998336,
 'targetLowPrice': 157,
 'recommendationKey': 'buy',
 'grossProfits': 152836000000,
 'freeCashflow': 83916750848,
 'targetMedianPrice': 191,
 'currentPrice': 147.11,
 'earningsGrowth': 0.086,
 'currentRatio': 0.927,
 'returnOnAssets': 0.21695,
 'numberOfAnalystOpinions': 43,
 'targetMeanPrice': 190.2,
 'debtToEquity': 178.016,
 'returnOnEquity': 1.49271,
 'targetHighPrice': 215,
 'totalCash': 51511001088,
 'totalDebt': 119980998656,
 'totalRevenue': 386017001472,
 'totalCashPerShare': 3.178,
 'financialCurrency': 'USD',
 'revenuePerShare': 23.471,
 'quickRatio': 0.76,
 'recommendationMean': 1.9,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 6.797,
 'beta3Year': None,
 'enterpriseToEbitda': 20.084,
 '52WeekChange': 0.16504312,
 'morningStarRiskRating': None,
 'forwardEps': 6.56,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16185199616,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 4.158,
 'sharesShort': 103977276,
 'sharesPercentSharesOut': 0.0064,
 'fundFamily': None,
 'lastFiscalYearEnd': 1632528000,
 'heldPercentInstitutions': 0.59571,
 'netIncomeToCommon': 101934997504,
 'trailingEps': 6.137,
 'lastDividendValue': 0.23,
 'SandP52WeekChange': -0.033483148,
 'priceToBook': 35.37999,
 'heldPercentInsiders': 0.00071999995,
 'nextFiscalYearEnd': 1695600000,
 'yield': None,
 'mostRecentQuarter': 1648252800,
 'shortRatio': 1.21,
 'sharesShortPreviousMonthDate': 1648684800,
 'floatShares': 16190874205,
 'beta': None,
 'enterpriseValue': 2623592988672,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1651795200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.058,
 'priceToSalesTrailing12Months': 6.168134,
 'dateShortInterest': 1651190400,
 'pegRatio': 2.34,
 'ytdReturn': None,
 'forwardPE': 22.425304,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0064,
 'sharesShortPriorMonth': 101969098,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 142.56,
 'regularMarketOpen': 144.59,
 'twoHundredDayAverage': 159.6869,
 'trailingAnnualDividendYield': 0.0030864198,
 'payoutRatio': 0.14310001,
 'volume24Hr': None,
 'regularMarketDayHigh': 148.1,
 'navPrice': None,
 'averageDailyVolume10Day': 125288270,
 'regularMarketPreviousClose': 142.56,
 'fiftyDayAverage': 163.6564,
 'trailingAnnualDividendRate': 0.44,
 'open': 144.59,
 'toCurrency': None,
 'averageVolume10days': 125288270,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.92,
 'exDividendDate': 1651795200,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 143.11,
 'currency': 'USD',
 'trailingPE': 23.970995,
 'regularMarketVolume': 111199146,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2381004668928,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 95269919,
 'dayLow': 143.11,
 'ask': 147.25,
 'askSize': 1100,
 'volume': 111199146,
 'fiftyTwoWeekHigh': 182.94,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.1,
 'fiftyTwoWeekLow': 122.86,
 'bid': 147.27,
 'tradeable': False,
 'dividendYield': 0.0063,
 'bidSize': 800,
 'dayHigh': 148.1,
 'regularMarketPrice': 147.11,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/apple.com',
 'trailingPegRatio': 2.6552}

In [8]:
# get historical market data
hist = msft.history(period="max")
print(hist)

                  Open        High         Low       Close      Volume  \
Date
1986-03-13    0.055783    0.063987    0.055783    0.061252  1031788800
1986-03-14    0.061252    0.064533    0.061252    0.063439   308160000
1986-03-17    0.063439    0.065080    0.063439    0.064533   133171200
1986-03-18    0.064533    0.065080    0.062345    0.062892    67766400
1986-03-19    0.062892    0.063439    0.061252    0.061799    47894400
...                ...         ...         ...         ...         ...
2022-05-06  274.809998  279.250000  271.269989  274.730011    37748300
2022-05-09  270.059998  272.359985  263.320007  264.579987    47726000
2022-05-10  271.690002  273.750000  265.070007  269.500000    39336400
2022-05-11  265.679993  271.359985  259.299988  260.549988    48894500
2022-05-12  257.690002  259.880005  252.990005  259.279999    16320855

            Dividends  Stock Splits
Date
1986-03-13        0.0           0.0
1986-03-14        0.0           0.0
1986-03-17        0.0           0.0
1986-03-18        0.0           0.0
1986-03-19        0.0           0.0
...               ...           ...
2022-05-06        0.0           0.0
2022-05-09        0.0           0.0
2022-05-10        0.0           0.0
2022-05-11        0.0           0.0
2022-05-12        0.0           0.0

[9117 rows x 7 columns]

In [8]:
# show actions (dividends, splits)
aapl.actions

            Dividends  Stock Splits
Date
1987-05-11   0.000536           0.0
1987-06-16   0.000000           2.0
1987-08-10   0.000536           0.0
1987-11-17   0.000714           0.0
1988-02-12   0.000714           0.0
...               ...           ...
2021-05-07   0.220000           0.0
2021-08-06   0.220000           0.0
2021-11-05   0.220000           0.0
2022-02-04   0.220000           0.0
2022-05-06   0.230000           0.0

[80 rows x 2 columns]

In [9]:
# show dividends
aapl.dividends

Date
1987-05-11    0.000536
1987-08-10    0.000536
1987-11-17    0.000714
1988-02-12    0.000714
1988-05-16    0.000714
                ...
2021-05-07    0.220000
2021-08-06    0.220000
2021-11-05    0.220000
2022-02-04    0.220000
2022-05-06    0.230000
Name: Dividends, Length: 75, dtype: float64

In [10]:
# show splits
aapl.splits

Date
1987-06-16    2.0
2000-06-21    2.0
2005-02-28    2.0
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

In [11]:
# show financials
aapl.financials
aapl.quarterly_financials

,2022-03-26,2021-12-25,2021-09-25,2021-06-26
Research Development,6387000000.0,6306000000.0,5772000000.0,5717000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,30139000000.0,41241000000.0,23248000000.0,24369000000.0
Minority Interest,None,None,None,None
Net Income,25010000000.0,34630000000.0,20551000000.0,21744000000.0
Selling General Administrative,6193000000.0,6449000000.0,5616000000.0,5412000000.0
Gross Profit,42559000000.0,54243000000.0,35174000000.0,35255000000.0
Ebit,29979000000.0,41488000000.0,23786000000.0,24126000000.0
Operating Income,29979000000.0,41488000000.0,23786000000.0,24126000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-691000000.0,-694000000.0,-672000000.0,-665000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,5129000000.0,6611000000.0,2697000000.0,2625000000.0
Total Revenue,97278000000.0,123945000000.0,83360000000.0,81434000000.0
Total Operating Expenses,67299000000.0,82457000000.0,59574000000.0,57308000000.0
Cost Of Revenue,54719000000.0,69702000000.0,48186000000.0,46179000000.0
Total Other Income Expense Net,160000000.0,-247000000.0,-538000000.0,243000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,25010000000.0,34630000000.0,20551000000.0,21744000000.0
Net Income Applicable To Common Shares,25010000000.0,34630000000.0,20551000000.0,21744000000.0

In [12]:
# show major holders
aapl.major_holders

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  59.57%       % of Shares Held by Institutions
2  59.61%        % of Float Held by Institutions
3    5495  Number of Institutions Holding Shares

In [13]:
# show institutional holders
aapl.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",1261261357,2021-12-30,0.0779,223962179162
1,Blackrock Inc.,1027632887,2022-03-30,0.0635,179434978399
2,"Berkshire Hathaway, Inc",887135554,2021-12-30,0.0548,157528660323
3,State Street Corporation,633115246,2021-12-30,0.0391,112422274232
4,"FMR, LLC",352204129,2021-12-30,0.0218,62540887186
5,"Geode Capital Management, LLC",264351901,2021-12-30,0.0163,46940967060
6,Price (T.Rowe) Associates Inc,223148792,2021-12-30,0.0138,39624530995
7,Northern Trust Corporation,190876014,2021-12-30,0.0118,33893853805
8,Norges Bank Investment Management,142076403,2021-12-30,0.0088,25228506880
9,Bank Of New York Mellon Corporation,141394714,2022-03-30,0.0087,24688931011

In [14]:
# show balance sheet
aapl.balance_sheet
aapl.quarterly_balance_sheet

,2022-03-26,2021-12-25,2021-09-25,2021-06-26
Total Liab,2.832630e+11,3.092590e+11,2.879120e+11,2.655600e+11
Total Stockholder Equity,6.739900e+10,7.193200e+10,6.309000e+10,6.428000e+10
Other Current Liab,5.816800e+10,5.704300e+10,5.357700e+10,5.130600e+10
Total Assets,3.506620e+11,3.811910e+11,3.510020e+11,3.298400e+11
Common Stock,6.118100e+10,5.842400e+10,5.736500e+10,5.498900e+10
Other Current Assets,1.580900e+10,1.811200e+10,1.411100e+10,1.364100e+10
Retained Earnings,1.271200e+10,1.443500e+10,5.562000e+09,9.233000e+09
Other Liab,5.243200e+10,5.505600e+10,4.305000e+10,3.835400e+10
Treasury Stock,-6.494000e+09,-9.270000e+08,1.630000e+08,5.800000e+07
Other Assets,5.195900e+10,5.010900e+10,3.876200e+10,4.485400e+10
Cash,2.809800e+10,3.711900e+10,3.494000e+10,3.405000e+10
Total Current Liabilities,1.275080e+11,1.475740e+11,1.254810e+11,1.077540e+11
Short Long Term Debt,9.659000e+09,1.116900e+10,9.613000e+09,8.039000e+09
Other Stockholder Equity,-6.494000e+09,-9.270000e+08,1.630000e+08,5.800000e+07
Property Plant Equipment,3.930400e+10,3.924500e+10,4.952700e+10,3.861500e+10
Total Current Assets,1.181800e+11,1.531540e+11,1.348360e+11,1.144230e+11
Long Term Investments,1.412190e+11,1.386830e+11,1.278770e+11,1.319480e+11
Net Tangible Assets,6.739900e+10,7.193200e+10,6.309000e+10,6.428000e+10
Short Term Investments,2.341300e+10,2.679400e+10,2.769900e+10,2.764600e+10
Net Receivables,4.540000e+10,6.525300e+10,5.150600e+10,3.390800e+10
Long Term Debt,1.033230e+11,1.066290e+11,1.091060e+11,1.057520e+11
Inventory,5.460000e+09,5.876000e+09,6.580000e+09,5.178000e+09
Accounts Payable,5.268200e+10,7.436200e+10,5.476300e+10,4.040900e+10

In [15]:
df = yf.download("AAPL",
                 start="2022-01-01",
                 end="2022-05-11")

[*********************100%***********************]  1 of 1 completed

In [16]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [17]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,89.000000,89.000000,89.000000,89.000000,89.000000,8.900000e+01
mean,167.102022,169.277978,164.814382,167.040899,166.747507,9.458653e+07
std,7.024973,6.573187,7.315558,7.100409,7.048047,2.125804e+07
min,150.899994,154.119995,150.100006,150.619995,150.399017,6.117740e+07
25%,162.250000,164.479996,158.929993,161.789993,161.552628,7.972480e+07
50%,167.990005,169.679993,165.550003,167.229996,166.984650,9.086590e+07
75%,172.320007,174.139999,170.949997,172.550003,172.296860,1.030493e+08
max,182.630005,182.940002,179.119995,182.009995,181.511703,1.799357e+08